@import "bootstrap-reboot.min.css";
@import "bootstrap-grid.min.css";
@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans&family=Raleway:wght@700&display=swap');
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";


/*--VAR-*/
$font-main: 'Open Sans', sans-serif;
$font-sub: 'Montserrat', sans-serif;
$font-sub2: 'Raleway', sans-serif;
$main-color: #222222;
$main-size: 16px;


@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@keyframes jump {
  0% {
    bottom: 40px
  }
  100% {
    bottom: 20px
  }
}

/*---------------------*/

.bg-rgba {
  background-color: rgba(76, 75, 92, 0.89);
  color: #fff;
  width: 100%;
}

h3 {
  font-family: $font-sub2;
  font-size: 24px;
  font-weight: 600;
  color: #1d2124;

  &:after {
    display: block;
    content: "";
    width: 10%;
    margin: auto;
    margin-top: 10px;
    height: 3px;
    background-color: #e4c547;
  }
}

h2 {
  font-family: $font-sub2;
  font-size: 20px;
  font-weight: 600;
  color: #1d2124;
}

/*-----------------------------------*/
header {
  position: fixed;
  background-color: rgba(27, 30, 33, 0.85);
  top: 0;
  width: 100%;
  z-index: 3;

  .bg-light {
    background-color: transparent !important;
  }

  .navbar {

    .navbar-brand {
      color: #fff;
      font-family: $font-sub2;
      font-size: 12px;

      &:hover {
        color: #e4c547;
      }

      &.active {
        color: #e4c547;
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #fff;
          text-transform: uppercase;
          font-family: $font-sub2;

          &:after {
            display: block;
            content: "";
            border-bottom: none;
            width: 80%;
            height: 2px;
            margin-top: 5px;
            visibility: hidden;
            margin-left: 10%;
            background-color: #e4c547;
          }

          &:hover, {
            color: #e4c547;

            &:after {
              visibility: visible;

            }
          }

          &.active {
            color: #e4c547;

            &:after {
              visibility: visible;
              color: #e4c547;
            }
          }
        }

        @include max-screen(992px) {
          .nav-link {
            &:after {
              width: 0;
              height: 0;
              margin-top: 0;
            }

            &:hover, .active {
              color: #e4c547;

              &:after {
                visibility: visible;

              }
            }
          }
        }
      }
    }


    .navbar-toggler {
      color: #fff;
      border-color: #fff;
      background-color: #fff;
    }
  }

}

/*-----------------------*/
.upper {
  background: url('../images/bg_upper.jpg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;

  .bg-rgba {
    height: 100vh;
    display: flex;
    align-items: center;

    .main {
      margin: auto;
      width: 500px;
      flex-direction: column;

      h1 {
        font-family: $font-main;
        font-size: 36px;

        span {
          font-family: $font-sub2;
          color: #e4c547;
          font-weight: 300;
        }
      }
    }
  }

  @include max-screen(992px) {
    background: url('../images/bg_upper_mob_03.jpg') no-repeat fixed center;
    background-size: cover;
    height: 100vh;
  }

  button {
    outline: none;

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  .btn {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .6rem;
    color: #fff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin-bottom: 40px;
    outline: none;

    &:before {
      content: "\f019";
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #fff;
      font-size: 14px;
      padding-right: 8px;
    }

    &:hover {
      color: #e4c547;
      border: 1px solid #e4c547;

      &:before {
        color: #e4c547;
      }
    }

    &:active {
      color: rgba(27, 30, 33, 0.85);
      background-color: #e4c547;
      border: 1px solid #e4c547;
      outline: none;

      &:before {
        color: rgba(27, 30, 33, 0.85);
      }
    }

    &:focus {
      outline: none;
    }
  }

  .btn-link {
    font-weight: 400;
    font-family: $font-main;
    color: #fff;
    text-decoration: none;
  }

  .jump {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #e4c547;
    border: 1px solid rgba(244, 241, 9, 0.25);
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;

    &:after {
      content: "\f103";
      display: block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: rgba(27, 30, 33, 0.85);
      font-size: 24px;
      padding-top: 3px;
      padding-left: 12px;
    }

    &:hover {
      animation: jump;
      animation-duration: 1s;
      animation-timing-function: linear;
    }
  }
}

/*------About------------------------------------*/
.about {
  background-color: #f3f3f3;
  padding: 80px 15px 80px;

  .my-foto {
    max-width: 200px;

    img {
      display: block;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 20px;
    }

    @include max-screen(992px) {
      width: 100%;
    }
  }

  .my-info {
    .item {
      .icon {
        width: 40px;
        height: 50px;
        background-color: #e4c547;
        border: 1px solid rgba(76, 75, 92, 0.89);;
        border-radius: 5px;

        &:before {
          display: block;
          content: "\f007";
          font-weight: 900;
          font-family: "Font Awesome 5 Free";
          color: rgba(76, 75, 92, 0.89);
          font-size: 24px;
          padding-top: 3px;
        }
      }

      &:nth-of-type(2) .icon {
        &:before {
          content: "\f06b";
          font-weight: 900;
          font-family: "Font Awesome 5 Free";
        }
      }

      &:nth-of-type(3) .icon {
        &:before {
          content: "\f015";
        }
      }

      p {
        font-family: $font-sub;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 0;
        white-space: nowrap;

        &:nth-of-type(2) {
          letter-spacing: 0;
          font-size: 18px;
        }
      }
    }

    &:nth-of-type(2) {
      .item {
        .icon {
          &:before {
            content: "\f015";
          }
        }

        &:nth-of-type(2) {
          .icon {
            &:before {
              content: "\f3cd";
            }
          }
        }

        &:nth-of-type(3) {
          .icon {
            &:before {
              content: "\f0e0";
            }
          }
        }
      }
    }
  }
}

/*--------------Education-----------------------*/
.education {
  background: url(../images/bg_education.jpg) no-repeat;
  background-size: cover;
  @include max-screen(768px) {
    background: url('../images/bg_edu_mob_02.jpg') no-repeat;
    background-size: cover;
  }

  .bg-rgba {
    background-color: rgba(76, 75, 92, 0.62);
    padding: 80px 15px;

    h3 {
      color: #fff;
    }

    ul {
      list-style: none;

      li {
        color: #ffffff;

        &:before {
          display: inline-block;
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: #e4c547;
          margin-right: 20px;

        }
      }
    }
  }
}

/*---------------Skills---------------------------*/
.skills {
  background-color: #f3f3f3;
  padding: 80px 15px 80px;

  .card {
    background: #fff;
    padding: 20px 15px 0;

    img {
      width: 100px;
      height: 100px;
      @include max-screen(767px) {
        width: 60px;
        height: 60px;
      }
    }

    ul {
      list-style: none;
      padding-left: 20px;
      @include max-screen(767px) {
        padding-left: 0px;
      }

      li {
        color: #1d2124;


        &:before {
          display: inline-block;
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: #e4c547;
          margin-right: 20px;

        }
      }
    }
  }

  .owl-dots {
    visibility: hidden;

    .owl-dot {
      outline: none;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid rgba(76, 75, 92, 0.62);
        border-radius: 50%;
        background-color: rgba(76, 75, 92, 0.62);
        margin: 0 10px;

      }

      &.active span {
        border: 1px solid #e4c547;
        background-color: #e4c547;
      }
    }

    @include max-screen(776px) {
      visibility: visible;
    }
  }

  .owl-nav {
    visibility: visible;

    .owl-prev {
      position: absolute;
      left: 80px;
      top: 40%;
      width: 20px;
      height: 20px;
      outline: none;

      &:after {
        display: block;
        content: "\f053";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        color: rgba(76, 75, 92, 0.89);
        font-size: 24px;
      }
    }

    .owl-next {
      position: absolute;
      right: 80px;
      top: 40%;
      width: 20px;
      height: 20px;
      outline: none;

      &:after {
        display: block;
        content: "\f054";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        color: rgba(76, 75, 92, 0.89);
        font-size: 24px;
      }
    }

    @include max-screen(776px) {
      visibility: hidden;
    }
  }
}

/*-----------Work----------------*/
.work {
  background: url('../images/desk_02.jpg');

  .bg-rgba {
    padding: 80px 20px 40px;
  }

  h3 {
    color: #f3f3f3;
  }

  .item_work {
    margin-bottom: 40px;

    a {
      display: inline-block;
      color: #f3f3f3;
      margin-bottom: 20px;
      font-family: $font-sub2;
      letter-spacing: 2px;
      font-weight: 600;

      font-size: 24px;
      text-decoration: none;
      padding: 7px 15px;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;

      &:hover {
        color: #fbfad9;
        border-bottom: 2px solid #e4c547;
        border-top: 2px solid #e4c547;
        border-radius: 20% 20% 20% 20%;
      }
    }
  }
}

/*-----------Contacts----------------*/
.contacts {
  background-color: #f3f3f3;
  padding: 80px 15px;

  .item {
    p {
      color: rgba(76, 75, 92, 0.89);
      font: 18px/18px $font-sub;
      font-weight: 600;

      &:before {
        display: inline-block;
        content: "\f3c5";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        color: rgba(76, 75, 92, 0.89);
        font-size: 24px;
        padding-top: 3px;
        margin-right: 10px;
      }
    }

    &:nth-of-type(2) p {
      &:before {
        content: "\f095";
      }
    }

    &:nth-of-type(3) p {
      &:before {
        content: "\f0e0";
      }
    }
  }

  form {

    .box {
      margin-bottom: 40px;


      input {
        color: rgba(76, 75, 92, 0.89);
        width: 100%;
        padding: 5px 15px;
        margin-bottom: 40px;
        border: 1px solid #d9dbcf;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px 1px #e4c547;
        box-shadow: 0 0 5px 1px #e4c547;
        outline: none;

        &:focus {
          -webkit-box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);
          box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);
        }

        &:nth-of-type(2) {

          margin-bottom: 0px;
        }
      }
    }

    textarea {
      color: rgba(76, 75, 92, 0.89);
      width: 100%;
      height: 115px;
      resize: none;
      border: 1px solid #d9dbcf;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 5px 1px #e4c547;
      box-shadow: 0 0 5px 1px #e4c547;
      outline: none!important;
      &:focus {
        -webkit-box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);
        box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);
        outline: none!important;
      }

      &:active {
        -webkit-box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);
        box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);
        outline: none!important;
      }
    }

    button {
      width: 100%;
      padding: 12px 45px;
      border: 1px solid #d9dbcf;
      border-radius: 5px;
      background-color: rgba(76, 75, 92, 0.81);
      color: #f3f3f3;
      font-family: $font-sub2;
      font-weight: 900;
      font-size: 20px;
      letter-spacing: 3px;
      outline: none;
      -webkit-box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);
      box-shadow: 1px 1px 5px 1px rgba(76, 75, 92, 0.81);

      &:focus {
        color: #e4c547;
        background-color: rgba(76, 75, 92, 0.81);
        -webkit-box-shadow: 0 0 5px 1px #e4c547;
        box-shadow: 0 0 5px 1px #e4c547;
      }

      &:hover {
        color: #e4c547;
        background-color: rgba(76, 75, 92, 0.81);
        -webkit-box-shadow: 0 0 5px 1px #e4c547;
        box-shadow: 0 0 5px 1px #e4c547;
      }
    }
  }
}

/*---------footer-----------*/
footer {
  background-color: rgba(27, 30, 33, 0.9);
  padding: 20px;

  a {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: #f3f3f3 2px solid;
    border-top: #f3f3f3 2px solid;

    &:hover {
      text-decoration: none;
      border-bottom: #e4c547 2px solid;
      border-top: #e4c547 2px solid;
    }

    &:before {
      content: "\f39e";
      color: #f3f3f3;
      font-family: "Font Awesome 5 Brands";
      font-weight: 400;
      font-size: 24px;
      display: block;
      padding-left: 10px;
    }

    &:nth-of-type(2) {
      &:before {
        content: "\f16d";
        font-weight: 900;
        padding-left: 5px;
      }
    }

    &:nth-of-type(3) {
      &:before {
        content: "\f0e1";
        font-weight: 900;
        padding-left: 5px;
      }
    }

    &:hover {
      &:before {
        color: #e4c547;
      }
    }
  }
}


